!!!
%head
  / Include metatags.  We like metatags.
  =partial "partials/metatags"

  / Set title to what's in the page YAML frontmatter, or just openFrameworks if we don't have anything else.
  %title= current_page.data.title || "openFrameworks" 
    
  / Include the various css bits
  = stylesheet_link_tag bootstrap_css
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald:400,700|Droid+Serif:400,700italic"
  = stylesheet_link_tag "all"
  = yield_content :css

%body{class: page_classes}

  / actual content goes here.
  = partial "partials/header"
  = yield
  = partial "partials/footer"
  = google_analytics_universal_tag

  / Include the various javascript bits
  = javascript_include_tag "//code.jquery.com/jquery-1.11.3.min.js"
  = javascript_include_tag bootstrap_js
  = javascript_include_tag  "all"
  = yield_content :javascript

