%header.header
  .container
    .row
      .col-xs-3.col-sm-2
        = link_to language_home do
          = image_tag("of-logo.svg", class: 'img-responsive')
      .col-xs-9.col-sm-10
        .row
          .col-xs-12
            %ul.list-inline.major-items.pull-right
              %li= link_to t("header.about"), "about.html"
              %li= link_to t("header.download"), "download.html"
              %li= link_to t("header.tutorials"), "tutorials.html"
              %li= link_to t("header.documentation"), "documentation.html"
              %li= link_to t("header.community"), "community.html"
              %li= link_to t("header.contribute"), "contribute.html"
              %li.dropdown
                %a#lang.dropdown-toggle{'data-toggle' => "dropdown"}
                  %span.lang-sm{lang: I18n.locale}
                %ul.dropdown-menu.dropdown-menu-right{role:"menu", "aria-labelledby" => "lang"}
                  - other_langs.map(&:to_s).each do |locale|
                    %li
                      = link_to translated_url(locale) do
                        %span.lang-sm.lang-lbl{lang:locale}

        .row
          .col-xs-12
            %ul.list-inline.minor-items.pull-right
              %li.text-muted= t("header.external")
              %li= sublink "github"
              %li= sublink "addons"
              %li= sublink "forum"
              %li= sublink "irc"
              %li= sublink "blog"
