%header.header
  .container
    .row
      .col-xs-3.col-sm-2
        = image_tag("of-logo.svg", class: 'img-responsive')
      .col-xs-9.col-sm-10
        .row
          .col-xs-12
            %ul.list-inline.major-items.pull-right
              %li= link_to t("header.about"), "about.html"
              %li= link_to t("header.download"), "download.html"
              %li= link_to t("header.documentation"), "documentation.html"
              %li= link_to t("header.tutorials"), "tutorials.html"
              %li= link_to t("header.gallery"), "gallery.html"
              %li= link_to t("header.community"), "community.html"
              %li= link_to t("header.development"), "development.html"
              %li.dropdown
                %a#lang.dropdown-toggle{'data-toggle' => "dropdown"}
                  %span.lang-sm{lang: I18n.locale}
                %ul.dropdown-menu.dropdown-menu-right{role:"menu", "aria-labelledby" => "lang"}
                  - langs.map(&:to_s).each do |locale|
                    %li
                      = link_to "/#{locale == "en" ? "" : (locale + "/")}index.html" do
                        %span.lang-sm.lang-lbl{lang:locale}

        .row
          .col-xs-12
            %ul.list-inline.minor-items.pull-right
              %li= link_to t("header.forum"), "http://forum.openframeworks.cc/", target: '_blank'
              %li= link_to t("header.addons"), "http://www.ofxaddons.com", target: '_blank'
              %li= link_to t("header.github"), "https://github.com/openframeworks/openFrameworks", target: "_blank"
              %li= link_to t("header.mailing"), "list-info.html"
              %li= link_to t("header.gallery"), "gallery.html"
              %li= link_to t("header.irc"), "http://webchat.freenode.net/?channels=openframeworks&uio=MT1mYWxzZSY5PXRydWUmMTE9Mjk39", target: "_blank"
              %li= link_to t("header.blog"), "http://blog.openframeworks.cc", target: '_blank'
